@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

@tailwind base;

html,
body {
	font-size: 18px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-heading;
	@apply font-bold;
	@apply leading-tight;
	@apply mt-8;
}

h1 {
	@apply text-3xl;
}

h2 {
	@apply text-2xl;
	@apply mb-6;
}

h3 {
	@apply text-xl;
	@apply mb-6;
}

h4 {
	@apply text-lg;
	@apply mb-6;
}

h5 {
	@apply text-base;
	@apply mb-6;
}

h6 {
	@apply text-sm;
	@apply mb-6;
}

a {
	@apply text-purple;
	@apply duration-300;
}

ul,
ol {
	list-style: initial;
	margin: initial;
	padding: revert;
}

nav {
	ul,
	ol {
		list-style: none;
		padding: 0;
	}

	li {
		@apply relative;
	}
}

body:not(.home) main > article:last-child > *:last-child > *:last-child {
	@apply pb-32;
}

#header {
	.sub-menu {
		@apply p-0;
		@apply mb-4;
		@apply min-w-full;
		@apply bg-blue;
		@apply leading-tight;
		@apply shadow-md;
		@apply normal-case;
		@apply text-center;
		min-width: 200px;
		top: 100%;

		li {
			@apply mb-4;

			&:last-child {
				@apply mb-0;
			}
		}

		li > span {
			@apply m-0;
		}

		.sub-menu {
			@apply static;
			@apply top-auto;
			@apply shadow-none;
		}
	}
}

.sub-menu {
	@apply hidden;
}

.featured-image {
	opacity: 0.25;
	@supports (mix-blend-mode: multiply) {
		mix-blend-mode: multiply;
		opacity: 1;
	}
}

.image-overlay {
	opacity: 0;
	@supports (mix-blend-mode: color) {
		mix-blend-mode: color;
		opacity: 1;
	}
}

.has-entellect-blue-background-color {
	@apply bg-blue;
	@apply text-white;
}

.has-entellect-purple-background-color {
	@apply bg-purple;
	@apply text-white;
}

.has-entellect-green-background-color {
	@apply bg-green;
	@apply text-black;
}

.has-entellect-yellow-background-color {
	@apply bg-yellow;
	@apply text-black;
}

.has-entellect-gray-background-color {
	@apply bg-gray-lt;
	@apply text-black;
}

.entry-content {
	@apply text-xl;

	> * {
		@apply max-w-container;
		@apply mx-auto;
		@apply mb-6;

		&.wp-block-group.has-background,
		&.alignleft,
		&.alignright {
			max-width: none;
		}

		> *:nth-child(1) {
			@apply mt-0;
		}

		> *:nth-last-child(1) {
			@apply mb-0;
		}
	}

	> *:nth-child(1) {
		@apply mt-0;

		&.wp-block-group.has-background {
			@apply -mt-20;
		}
	}

	> section:nth-child(1) {
		@apply -mt-20;
	}

	> *:nth-last-child(1) {
		@apply mb-0;
	}

	p,
	ul,
	ol,
	blockquote {
		@apply mb-6;
	}

	.wp-block-group__inner-container {
		@apply max-w-container;
		@apply mx-auto;

		> *:nth-child(1) {
			@apply mt-0;
		}

		> *:nth-last-child(1) {
			@apply mb-0;
		}
	}

	> *:nth-last-child(1) {
		@apply mb-0;

		> *:nth-last-child(1) {
			@apply mb-0;
		}
	}

	> *:first-child {
		&.wp-block-group {
			&.has-background {
				@apply -mt-24;
			}
		}
	}

	.wp-block-group.has-background {
		@apply -mx-wrap;
		@apply px-wrap;
		@apply py-10;
		@apply mt-20;

		+ .wp-block-group {
			@apply mt-0;
		}
	}
}

.event-text {
	> * {
		&:nth-child(1) {
			@apply mt-0;
		}

		&:nth-last-child(1) {
			@apply mb-0;
		}
	}
}

.entellect-bio {
	@apply relative;
	@apply bg-blue;
	@apply text-white;
	@apply px-4;
	@apply pt-20;
	@apply pb-8;
	@apply mt-20;

	.wp-block-image {
		@apply absolute;
		@apply my-0;
		@apply mx-auto;
		@apply top-0;
		@apply left-0;
		@apply right-0;
		@apply w-full;
		@apply rounded-full;
		transform: translate(0, -50%);

		figure {
			@apply mx-auto;
		}

		img {
			@apply border-solid;
			@apply border-4;
			@apply border-gray-lt;
			height: 150px;
			width: 150px;
		}
	}
}

#menu-social-media {
	a {
		&:hover,
		&:focus {
			@apply underline;
		}

		&::before {
			font-family: 'Font Awesome 5 Brands';
			font-weight: 400;
		}

		&[href*='twitter.com'] {
			&::before {
				content: '\f099';
			}

			> span {
				@apply sr-only;
			}
		}

		&[href*='facebook.com'] {
			&::before {
				content: '\f09a';
			}

			> span {
				@apply sr-only;
			}
		}

		&[href*='linkedin.com'] {
			&::before {
				content: '\f0e1';
			}

			> span {
				@apply sr-only;
			}
		}
	}
}

footer a {
	@apply text-white;
}

@media (min-width: 768px) {
	h1 {
		@apply text-4xl;
	}

	h2 {
		@apply text-3xl;
		@apply mb-6;
	}

	h3 {
		@apply text-2xl;
		@apply mb-6;
	}

	h4 {
		@apply text-xl;
		@apply mb-6;
	}

	h5 {
		@apply text-lg;
		@apply mb-6;
	}

	h6 {
		@apply text-base;
		@apply mb-6;
	}

	#header {
		.sub-menu {
			@apply p-4;
			@apply absolute;
			@apply text-right;
			@apply z-50;
			left: 50%;
			transform: translate(-50%, 0);
		}
	}
	.alignleft,
	.alignright {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
}

@tailwind components;
@tailwind utilities;
